h1 {
    color:white;
}
h2 {
    color:royalblue;
}
#tokyo {
    background-color:royalblue;
    color:navy;
    border-color:black;
    border-width: 8px;
    border-radius:30px;
    padding:6px;
    text-align:center;
    float:left;
    font-size:24px;
}
#tokyo2 {
    text-align: center;
    
}

p
    {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif,;
    color:gold;
     }
     .sports {
         color:white;
     }
     div {
     background-color:royalblue;
     margin-top:50px;
     padding:0px;
     border-width:8px;
     border-style:solid;
     content:0px;
     border-color:black ;
     border-radius:30px;
     text-align:center;
     padding:0px;
     float: left;
     margin:50px;
     }
     body {
         background-color:navy;
         background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/a5/Tsunami_by_hokusai_19th_century.jpg);
        
     }
     div p {
        color:navy;
        font-size:24px ;
    }
    ul {
        font-size: 30px;
        margin-bottom: 50px;
        margin-top:50px;
        font-family: 'Courier New', Courier, monospace;
        border-inline:20px ;

        }
        .Hockey {
            size:1000px;
            padding-top: 8px;
             
        }
        .windsurfing {
            padding:8px;

        }
        #sports {
            background-color:royalblue ;
            color:navy;
        }
        
    